{% extends "layout.html" %}

{% block title %}
    General Info
{% endblock %}

{% block main %}

    <article style="margin: 15px">
        <section title="Ukrainian Red Cross Society">
            <h2>
                Ukrainian Red Cross Society
            </h2>
            <p style="text-align:left">The history of URCS overcomes 100 years.</p>
        </section>

        <section title="First Aid">
            <h2>
                First Aid
            </h2>
            <p style="text-align:left">However we don't usualy encounter critical situations, whenever it comes we have to be prepared.
            Paramedics and emergency service staff won't be on site right away bad things happen, so, it's up to usual people to assisst the person who suffers from crisis.</p>
        </section>

        <section title="About the project">
            <h2>
                About the project
            </h2>
            <p style="text-align:left">This Quiz is provided by URCS according to its protocols of First Aid. In some countries it may differ due to the differencies in Health-care legislation.</p>
        </section>
    </article>

{% endblock %}