{% extends "layout.html" %}

{% block title %}
     QUIZ
{% endblock %}

{% block main %}

<p style="text-align: center">This is {{ count }} of {{ total }} question:</p>

<form action="/quizing" method="POST">
    <p style="text-align: center; font-size: 28px" id="question"> {{ question[0] }}</p>

    <p style="text-align: center">
        <input type="radio" name="answer" value="{{ question[1] }}"> {{ question[1] }}
        <label id="answer1" for="answer1"></label>
        <br/>
        <input type="radio" name="answer" value="{{ question[2] }}"> {{ question[2] }}
        <label id="answer2" for="answer2"></label>
        <br/>
        <input type="radio" name="answer" value="{{ question[3] }}">{{ question[3] }}
        <label id="answer3" for="answer3"></label>
        <br/>
        <input type="radio" name="answer" value="{{ question[4] }}">{{ question[4] }}
        <label id="answer4" for="answer4"></label>
        <br/>
        <button type="submit">Going to kill someone?</button>
    </p>
</p>

{% endblock %}
