{% extends "layout.html" %}

{% block navigation %}

    <form action="/register" method="post">
        <input autocomplete="off" autofocus class="form-input" name="username" placeholder="Username" type="text">
        <input class="form-input" name="password" placeholder="Password" type="password">
        <input class="form-input" name="confirmation" placeholder="Repeat Your Password" type="password">
        <button class="form-input" type="submit">Register for free without SMS</button>

    </form>

    <script>

        /* CHANGE THIS SCRIPT ACCORDING TO THIS PROJECT */

        let input = document.querySelector('input[name = "username"]');
            input.onkeyup = function(event) {
                event.preventDefault();
                $.get('/check?username=' + input.value, function(data) {
                    if (!data) {
                        document.querySelector('form').onsubmit = function() {
                            alert('Username is already occupied!');
                            return false;
                        };
                    }
                    return true;
                });
            };

    </script>

    <script>

        document.querySelector('form').onsubmit = function() {
        if (!document.querySelector('input[name = "username"]').value) {
            alert('You must provide your name!');
            return false;
        }
        else if (!document.querySelector('input[name = "password"]').value) {
            alert('You must provide your password!');
            return false;
        }
        else if(!(document.querySelector('input[name = "password"]').value == document.querySelector('input[name = "confirmation"]').value)) {
            alert('You must repeat your password!');
            return false;
        }

        return true;
        };

    </script>

{% endblock %}