{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age Group</th>
                <th>Phone</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            {% for person in registered %}
                <tr>
                    <td>{{ person[0] }}</td>
                    <td>{{ person[1] }}</td>
                    <td>{{ person[2] }}</td>
                    <td>{{ person[3] }}</td>
                </tr>
             {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Age Group</th>
                <th>Phone</th>
                <th>Course</th>
            </tr>
        </tfoot>
    </table>

{% endblock %}
